#logoAlanis {
    margin-top: 30px;
    margin-left: 300px;
}

h2{
    position: relative;
    text-align: center; 
    padding-top: 30px;
}

h5{
    position: relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

·navbar{
    position: relative;
    padding-top: 60px;
}

footer{
    margin-top: 150px;
    text-align: center;
    background-color: darkgrey;
}